jobs:
  ubuntu:
    docker:
      - image: 'ubuntu:bionic'
    steps:
      - run:
          name: installations
          command: apt-get -qq update; apt-get install -y mysql-server ca-certificates wget build-essential git
      - run:
          name: Redis_5_upgrade
          command: cd ..; git clone https://github.com/antirez/redis.git; cd ./redis; git fetch; git checkout 5.0.7; make; make install
      - run:
          name: download_RedisGears
          command: cd ..; wget http://redismodules.s3.amazonaws.com/redisgears/snapshots/redisgears.linux-bionic-x64.master.zip; apt-get install -y unzip; unzip redisgears.linux-bionic-x64.master.zip
      - run:
          name: download_RedisGears_deps
          command: cd ..; wget http://redismodules.s3.amazonaws.com/redisgears/snapshots/redisgears-dependencies.linux-bionic-x64.master.tgz; cd /; tar -xvf /root/redisgears-dependencies.linux-bionic-x64.master.tgz
      - checkout
      - run:
          name: install_write_behind_to_RedisGears_virtual_env
          command: source /var/opt/redislabs/lib/modules/python3/.venv/bin/activate; python setup.py install
      - run:
          name: initialize_my_sql
          command: |
            service mysql start
            mysql -u root --execute "CREATE DATABASE test"
            mysql -u root --execute "CREATE TABLE test.persons (person_id VARCHAR(100) NOT NULL, first VARCHAR(100) NOT NULL, second VARCHAR(100) NOT NULL, age INT NOT NULL, PRIMARY KEY (person_id));"
            mysql -u root --execute "INSERT INTO mysql.user (User,Host,authentication_string,ssl_cipher,x509_issuer,x509_subject) VALUES('demouser','localhost',PASSWORD('demopassword'),'','','');"
            mysql -u root --execute "FLUSH PRIVILEGES;"
            mysql -u root --execute "GRANT ALL PRIVILEGES ON test.* to demouser@localhost;"
            mysql -u root --execute "FLUSH PRIVILEGES;"
          name: start_RedisGears
          command: redis-server --loadmodule ../redisgears.so&


workflows:
  version: 2

  default_flow:
    jobs:
      - ubuntu:
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/